
body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
    background: #fff
}

body a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

body a:hover {
    text-decoration: none;
    color: #000;
}

.overlay {
    background-color:rgba(0, 0, 0, 0.5);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.overlay .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.fase-intro-title {
    color: #fff;
}

.fase-intro-desc {
    font-size: 28px;
    color: #fff;
}

.leaflet-container a {
    color: #000;
}

#mapid {
    z-index: 1;
}

.menu {
    position: fixed;
    bottom: 30px;
    color: #000;
    background-color: white;
    z-index: 10;
    font-weight: normal;
    font-size: 16px;
}

.menu a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.menu-button {
    background: white;
    width: 116px;
    border: 1px solid black;
    padding: 2px 0px;
}



.menu-button:hover{
    background: black;
}

.info-box, .kunst-box {
    padding: 30px;
    position: fixed;
    bottom: -9999px;
    width: 30%;
    height: calc(100vh - 100px);
    color: #000;
    background-color: white;
    z-index: 9;
    border: 1px solid black;
}

.kunst-box-artist-mobile {
    padding: 5px 5px 5px 15px;
    position: fixed;
    bottom: 75px;
    width: 30%;
    color: #000;
    background-color: white;
    z-index: 8;
    border: 1px solid black;
}

.kunst-box-artist-mobile .kunst-box-title {
    margin-bottom: 0px;
}

.kunst-box a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

.kunst-box a:hover {
    font-weight: bold;
}

.info-box-title, .info-box-languages, .kunst-box-title {
    margin-bottom: 30px;
}

.lang-no, .lang-en {
    font-size: 13px;
}

.info-content {
    height: calc(100vh - 237px);
    overflow-y: auto;
}

.info-en {
    display: none;
}

.kunstner-back {
    display: none;
    margin-right: 10px;
}

.info-box-languages a {
    font-weight: normal;
    text-decoration: none;
}

.kunst-content {
    height: calc(100vh - 192px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -15px;
}

.kunst-content .row {
    margin-bottom: 15px;
}

.kunstner-info {
    height: calc(100vh - 192px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -15px;
    display: none;
    padding: 0px 15px;
}

.kunstern-name {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.stedtid {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: normal;
}

.project-description {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: normal;
}

.kunstner-bio {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: normal;
}

.info-no, .info-en {
    margin-bottom: 60px;
}

.info-content .container {
    padding-bottom: 60px;
}

